body {
    background: #efefef;
    color: #4a4a4a;
    font: 14pt/16pt 'Lato', 'Helvetica', sans-serif;
    font-weight: 400;
    width: 80%;
    margin: 3em auto;
}

nav {
    margin-left: -26pt;
    font-size: 11pt;
    text-transform: uppercase;
}

nav ul {
    list-style: none;
    padding: 0 0 16pt 0;
}

nav ul li {
    display: inline;

}

nav a {
    color: #fff;
    text-decoration: none;
    background: #444;
    border: 1px solid #000;
    padding: 6pt 6pt;
}

nav a:hover {
    background: #222;
}

h1 {
    font-size: 18pt;
    line-height: 26px;
    font-weight: 400;
}

h2 {
    font-size: 16pt;
    line-height: 18pt;
    font-weight: 400;
}

h1, h2 {
    margin-left: -26pt;
}

section {
    margin: 3em 0;
}

pre, code {
    font-family: 'Inconsolata', 'Menlo', monospace;
}

pre {
    background: #fff;
    border: 1px solid #ccc;
    padding: 6pt;
}
